<!DOCTYPE style>
<style>
    /* Add CSS for <input> and <textarea> tags */
    
    input,
    textarea {
        width: 400px;
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 20px;
        font-size: 18px;
        border: 1px solid #dee7ec;
    }
    
    #gambar1 {
        border: 5px solid rgb(255, 255, 255);
        background: url("https://raw.githubusercontent.com/mbagusvicky1999/bagusvicky.github.io/main/backgorund3.jpg");
        background-repeat: no-repeat;
        background-size: 1400px 400px;
        background-position: center;
        padding: 35px;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(194, 21, 64);
    }
    
    li {
        float: left;
    }
    
    li a,
    .dropbtn {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 17px 105px;
        text-decoration: none;
    }
    
    li a:hover,
    .dropdown:hover .dropbtn {
        background-color: rgb(255, 35, 218);
    }
    
    li.dropdown {
        display: inline-block;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 230px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {
        background-color: #f0b4e3;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    div.gallery {
        border: 1px solid #ccc;
    }
    
    div.gallery:hover {
        border: 10px solid rgb(194, 21, 64);
    }
    
    div.gallery img {
        width: 100%;
        height: auto;
    }
    
    div.desc {
        padding: 15px;
        text-align: center;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
    }
    
    @media only screen and (max-width: 700px) {
        .responsive {
            width: 49.99999%;
            margin: 6px 0;
        }
    }
    
    @media only screen and (max-width: 500px) {
        .responsive {
            width: 100%;
        }
    }
    
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
    
    #customers {
        font-family: Arial;
        border-collapse: collapse;
        width: 100%;
    }
    
    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    #customers tr:hover {
        background-color: rgb(221, 135, 135);
    }
    
    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(194, 21, 64);
        color: white;
    }
    
    .all-browsers {
        margin: 0;
        padding: 5px;
        background-color: rgb(194, 21, 64);
    }
    
    .all-browsers>h1,
    .browser {
        margin: 10px;
        padding: 5px;
    }
    
    .browser {
        background: white;
    }
    
    .browser>h2,
    p {
        margin: 4px;
        font-size: 90%;
    }
    
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    a:link.ini,
    a:visited.ini {
        background-color: white;
        color: black;
        border: 4px solid green;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
    
    a:hover.ini,
    a:active.ini {
        background-color: green;
        color: white;
    }
    
    div.okeh {
        width: 250px;
        border: 5px solid rgb(228, 228, 228);
        padding: 10px;
        font-family: 'Atma';
        font-size: 18px;
        text-align: center;
    }
    
    p.okeh {
        font-family: 'Arizonia';
        font-size: 50px;
    }
    
    .container {
        position: relative;
        width: 50%;
    }
    
    .image {
        display: block;
        width: 300px;
        height: 300px;
    }
    
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 300px;
        width: 300px;
        opacity: 0;
        transition: .5s ease;
        background-color: rgb(212, 1, 82);
    }
    
    .container:hover .overlay {
        opacity: 1;
    }
    
    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    
    h2.okeh {
        font-family: 'Arizonia';
        font-size: 38px;
    }
    
    p.oke {
        border-style: double;
        border-color: rgb(145, 21, 103);
        border-width: 15px;
        border-radius: 30px;
        text-align: center;
        font-size: 30px;
    }
    
    #myDIV {
        width: 1330px;
        height: 190px;
        background-image: url('https://raw.githubusercontent.com/mbagusvicky1999/bagusvicky.github.io/main/Lenovo.png');
        background-position: left;
        animation: mymove 1.5s infinite;
    }
    
    @keyframes mymove {
        50% {
            background-position: center;
        }
    }
